<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ChartPlotMQTT.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="ChartPlot_MQTT.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="ChartPlot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup>
    <userSettings>
        <ChartPlotMQTT.Properties.Settings>
            <setting name="DefaultAddress" serializeAs="String">
                <value>192.168.202.10</value>
            </setting>
            <setting name="DefaultPort" serializeAs="String">
                <value>1883</value>
            </setting>
            <setting name="CodePage" serializeAs="String">
                <value>866</value>
            </setting>
            <setting name="DefaultSubscribeTopic" serializeAs="String">
                <value>sensors/#</value>
            </setting>
            <setting name="DefaultPublishTopic" serializeAs="String">
                <value>commands/#</value>
            </setting>
            <setting name="AutoConnect" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DefaultLogin" serializeAs="String">
                <value/>
            </setting>
            <setting name="DefaultPassword" serializeAs="String">
                <value/>
            </setting>
            <setting name="AutoReConnect" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ClientID" serializeAs="String">
                <value>ChartPlotter</value>
            </setting>
            <setting name="DbFileName" serializeAs="String">
                <value>localDb.db</value>
            </setting>
            <setting name="AddTimeStamp" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="KeepTime" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="DbPassword" serializeAs="String">
                <value/>
            </setting>
            <setting name="RESTPort" serializeAs="String">
                <value>8080</value>
            </setting>
            <setting name="keepLocalDb" serializeAs="String">
                <value>False</value>
            </setting>
        </ChartPlotMQTT.Properties.Settings>
        <ChartPlot_MQTT.Properties.Settings>
            <setting name="DefaultAddress" serializeAs="String">
                <value>192.168.202.10</value>
            </setting>
            <setting name="DefaultPort" serializeAs="String">
                <value>1883</value>
            </setting>
            <setting name="DefaultDevice" serializeAs="String">
                <value>Esp8266</value>
            </setting>
            <setting name="CodePage" serializeAs="String">
                <value>866</value>
            </setting>
            <setting name="DefaultSubscribeTopic" serializeAs="String">
                <value>sensors</value>
            </setting>
            <setting name="DefaultPublishTopic" serializeAs="String">
                <value>commands</value>
            </setting>
            <setting name="AutoConnect" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DefaultLogin" serializeAs="String">
                <value/>
            </setting>
            <setting name="DefaultPassword" serializeAs="String">
                <value/>
            </setting>
            <setting name="AutoReConnect" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StringsDivider" serializeAs="String">
                <value>;
</value>
            </setting>
            <setting name="ClientID" serializeAs="String">
                <value>ChartPlotter</value>
            </setting>
            <setting name="dbFileName" serializeAs="String">
                <value>localDb.db</value>
            </setting>
        </ChartPlot_MQTT.Properties.Settings>
        <ChartPlot.Properties.Settings>
            <setting name="DefaultAddress" serializeAs="String">
                <value>192.168.202.10</value>
            </setting>
            <setting name="DefaultPort" serializeAs="String">
                <value>1883</value>
            </setting>
            <setting name="DefaultDevice" serializeAs="String">
                <value>Esp8266</value>
            </setting>
            <setting name="CodePage" serializeAs="String">
                <value>866</value>
            </setting>
            <setting name="DefaultSubscribeTopic" serializeAs="String">
                <value/>
            </setting>
            <setting name="DefaultPublishTopic" serializeAs="String">
                <value/>
            </setting>
        </ChartPlot.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
